.featured-cat-fighter-image{
    object-fit: cover; 
    object-position: center; 
    height: 300px;
    width: 300px;
  }

  .fighter-choice-image{
    object-fit: cover; 
    object-position: center; 
    height: 150px;
    width: 150px;
  }